#header {
    height: 80px;
    background: -webkit-linear-gradient(#92ce53,#43a847); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#92ce53,#43a847); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#92ce53,#43a847); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#92ce53, #43a847); /* Standard syntax */
    border: 1px solid #e1e8ed;
    margin: 0px auto;
}

 #left, #right {
    background: -webkit-linear-gradient(#92ce53,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#92ce53,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#92ce53,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#92ce53,white); /* Standard syntax */
    width:20%;
    min-height:600px;
}
.welcome img {
width:100%;
}
select {
    border: 3px solid #004d07;
    font-family: times new roman;
    font-size: 18px;
    width: 200px;
    border-radius: 7px;
}
#login p,#register p,#home p, #add p,#search p{ 
    font-size:20px;
    color:#80c438;
}
button {
    line-height: 34px; 
    border: 1px solid #004d07;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    background: -webkit-linear-gradient(#004d07,#80c438); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#004d07,#80c438); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#004d07,#80c438); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#004d07,#80c438); /* Standard syntax */

}
input {
    border: 3px solid #004d07;
    border-radius: 10px;
    font-family: times new roman;
    font-size: 18px;
    line-height: 30px;
    width: 200px;
}
#left {
    float:left;
}
#right{
    float:right;
}
body {
font-family: "Kristen ITC", Verdana, Arial, Helvetica, sans-serif;
}
.topbar_div a{
    color:white;
    font-size:20px;
}
.topbar_div{
     background: -webkit-linear-gradient(#80c438,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#80c438,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#80c438,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#80c438,white); /* Standard syntax */
    border-radius: 0 0 20px 20px;
    height: 40px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -1px !important;
    text-align: center;
}

#login td, #register td, #add td,#search td{
padding:10px;
}