<div class="col-md-12">
    <div class="col-md-12" style="margin-bottom: 60px;">
        <table style="width:100%;" id="top_bar">
            <tr>
                <td><div class="topbar_div"><a href="@string.Format(" {0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#/Home"><img src="~/Content/images/house.png" /></a></div></td>
                <td><div class="topbar_div"><a href="@string.Format(" {0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#/Home/Add">Add Trips</a></div></td>
                <td><div class="topbar_div"><a href="@string.Format(" {0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#/Home/Search">Search Trips</a></div></td>
                <td><div class="topbar_div"><img src="~/Content/images/fb.png" /></div></td>
                <td><div class="topbar_div"><img src="~/Content/images/twitter.png" /></div></td>
                <td><div class="topbar_div"><a href="@string.Format(" {0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#/Contact">Contact</a></div></td>
            </tr>
        </table>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div id="add" style="display:none;">

            <table style="width: 100%">
                <tr>
                    <td><p>Please select the <span class="stress">departure location</span>:</p></td>
                    <td>
                        <select data-bind="value: departureProvince, options: provinces, optionsText: 'name', optionsValue: 'id', event: { change: onDepartureProvinceChange }"></select>

                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <select data-bind="value: departureDistrict, options: departureDistricts, optionsCaption: 'Districts', optionsText: 'name', optionsValue: 'id'"></select>
                    </td>
                </tr>
                <tr>
                    <td><p>Please select the <span class="stress">arrival location</span>:</p></td>
                    <td>
                        <select data-bind="value: arrivalProvince, options: provinces, optionsText: 'name', optionsValue: 'id', event: { change: onArrivalProvinceChange }"></select>
                    </td>
                </tr>
                <tr>
                    <td><p>&nbsp;</p></td>
                    <td>
                        <select data-bind="value: arrivalDistrict, options: arrivalDistricts, optionsText: 'name', optionsCaption: 'Districts', optionsValue: 'id'"></select>
                    </td>
                </tr>
                <tr>
                    <td><p>Please select the <span class="stress">departure date</span>:</p></td>
                    <td>
                        <input type="text" data-bind="value: depdate " />
                    </td>
                </tr>
                <tr>
                    <td><p>Please enter <span class="stress">departure time</span> for the trip in hours and minutes :</p></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <select style="width:50px;" data-bind="options: hours, value: hour"></select>
                                </td>
                                
                                <td>
                                    <select style="width:50px;" data-bind="options: mins, value: min"></select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><p>Please enter <span class="stress">estimated time</span> for the trip in hours and minutes :</p></td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <select style="width:50px;" data-bind="options: hours, value: esthour"></select>
                                </td>
                                <td>
                                    <select style="width:50px;" data-bind="options: mins, value: estmin"></select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td><p>Please enter the <span class="stress">price</span> for this trip:</p></td>
                    <td>
                        <input type="text" data-bind="value: price" />
                    </td>
                </tr>
                <tr>
                    <td><p>Please select <span class="stress">available seat number</span> for this trip:</p></td>
                    <td>
                        <select data-bind="options: seatnums, value: seatnum, optionsCaption: 'Select seat number'"></select>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button data-bind="click: back">Go Back</button>
                        <button data-bind="click: add">Add</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        require(["Trip/AddViewModel"], function (model) {
            var viewModel = new model();
            ko.applyBindings(viewModel, document.getElementById("add"));
            viewModel.getProvinces();
        });
    });
</script>


