<div class="col-md-12" id="header">
    <a href="@string.Format(" {0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))#/"><img width="200" src="~/Content/images/logo.png" /></a>

</div>
